<div class="bootstrap-css lrs-validation-grid" style="width: 100%; height:100%;">
    <div ng-if="!loadingRecord && !savingRecord && !invalidData" style="width: 100%; height:100%;">
        <div ng-if="data && data.length > 0" style="width: 100%; height:100%;">
            <dynamic-grid data="data" metadata-config="metadata" ui-scope="uiScope" highlight-rows="selectedRows" editable sortable>
                <div class="lrs-grid-controls" ng-if="showControls">
                    <table>
                        <tr>
                            <td>
                                <button ng-click="zoomToFirst()" class="glyphicon glyphicon-backward"></button>
                            </td>
                            <td>
                                <button ng-click="zoomDelta(-1)" class="glyphicon glyphicon-chevron-left"></button>
                            </td>
                            <td>
                                <button ng-click="zoomDelta(1)" class="glyphicon glyphicon-chevron-right"></button>
                            </td>
                            <td>
                                <button ng-click="zoomToLast()" class="glyphicon glyphicon-forward"></button>
                            </td>

                            <td class="separator"></td>

                            <td>
                                <button ng-click="showLoadingDialog()">Open VER</button>
                            </td>
                            <td>
                                <button ng-click="saveEdits()">Save VER</button>
                            </td>
                            
                            <td class="separator"></td>

                            <td>
                                <button ng-click="zoomToLayers(selectedRows.output)">Zoom To Layers</button>
                            </td>
                            <td>
                                <input type="checkbox" ng-model="hideResolved" ng-click="toggleHideResolved()">Hide Resolved</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </dynamic-grid>
        </div> 
        <div ng-if="!data || data.length <= 0">
            No validation record loaded! <br />
            <button ng-click="showLoadingDialog()">Load Record</button>
        </div>
    </div>
    <div ng-if="loadingRecord">
        <dynamic-grid data="savedRecords" metadata-config="recordsMetadata" ui-scope="uiScope"></dynamic-grid>        
        <br />
        <button ng-click="hideLoadingDialog();">Cancel</button>
    </div>
    <div ng-if="savingRecord">
        Name: <input type="text">
        <button ng-click="hideSavingDialog();">Save</button>
        <button ng-click="hideSavingDialog();">Cancel</button>
    </div>
    <div ng-if="invalidData">
        The server is not returning any valid data for validation. Please ensure that you have the proper credentials
        and are logged into the appropriate service.
    </div>
   
</div>